:root {
    --mainBrownColor: #7b5c4a;
    --mainBlackColor: #272727;
    --mainFooterColor: #302c29;
    --mainYellowColor: #f6f2d9;
    --minaTextColor: #262626;
    --mainFontFamily: "Poppins", sans-serif;
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    color: var(--mianBlackColor);
}
body{
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    color: var(--minaTextColor);
}
h1,h2,h3,h4,h5,h6{
    font-weight: bold;
    color: var(--mainBlackColor);
}
a{
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    line-height: 1;
}
.container{
    max-width: 1130px;
}

/*Top Bar Section*/
.top-bar-section{
    height: 35px;
    background-color: var(--mainBrownColor);
}
.top-bar-left,
.top-bar-right{
    padding-top: 5px;
}
.top-bar-right{
    text-align: right;
}
.top-bar-left a,
.top-bar-right a{
    color: #ffffff;
    opacity: 0.70;
    font-size: 12px;
    font-weight: 400;
    display: inline-block;
    line-height: 1;
}
.top-bar-left a:hover,
.top-bar-right a:hover{
    opacity: 1;
}