:root {
    --mainBrownColor: #7b5c4a;
    --mainBlackColor: #272727;
    --mainFooterColor: #302c29;
    --mainYellowColor: #f6f2d9;
    --mainTextColor: #262626;
    --mainFontFamily: "Poppins", sans-serif;
    --subFontFamily: "Playfair Display", serif;
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    color: var(--mianBlackColor);
}
body{
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    color: var(--minaTextColor);
}
h1,h2,h3,h4,h5,h6{
    font-weight: bold;
    color: var(--mainBlackColor);
}
h2 {
    font-size: 30px;
    line-height: 30px;
    font-weight: 700;
}

h3 {
    font-size: 28px;
    line-height: 30px;
    font-weight: 400;
}

h4 {
    font-size: 22px;
    line-height: 30px;
    font-weight: 600;
}

h5 {
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
}
a{
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    line-height: 1;
}
.w-20 {
    width: 20%;
}
.container{
    max-width: 1130px;
}


/*Navigation*/
.site-navigation{
    padding-bottom: 15px;
}
.site-navigation .nav-link{
    font-size: 16px;
    font-weight: 500;
    color: var(--mainTextColor);
    padding: 0 !important;
}
.site-navigation .nav-link:hover{
    opacity: 0.85;
}
.site-navigation .navbar-nav{
    width: 100%;
}
.site-navigation .nav-item{
    padding-right: 70px;
    text-align: left;
}

/*Top Bar Section*/
.top-bar-section{
    height: 35px;
    background-color: var(--mainBrownColor);
}
.top-bar-left,
.top-bar-right{
    padding-top: 5px;
}
.top-bar-right{
    text-align: right;
}
.top-bar-left a,
.top-bar-right a{
    color: #ffffff;
    opacity: 0.70;
    font-size: 12px;
    font-weight: 400;
    display: inline-block;
    line-height: 1;
}
.top-bar-left a:hover,
.top-bar-right a:hover{
    opacity: 1;
}

/*Branding Section*/
.branding-section{
    padding: 17px 0;
}
.branding-left-content,
.branding-right-content{
    width: 100%;
}
.blc-social a{
    height: 25px;
    width: 25px;
    border-radius: 100%;
    background-color: var(--mainBrownColor);
    color: #ffffff;
    text-align: center;
    padding: 5px 5px 5px 4px;
}
.blc-social a:hover{
    background-color: var(--mainBlackColor);
}
.blc-social a svg{
    width: 100%;
    height: 100%;
    fill: #fff;
}
.blc-contact{
    margin-top: 20px;
}
.blcc-left{
    float: left;
    margin-right: 5px;
}
.blcc-right{
    float: right;
}
.blccr-1{
    font-size: 24px;
    font-weight: 700;
    color: var(--mainBrownColor);
    line-height: 1;
    margin-bottom: 0;
    padding-top: 5px;
}
.blccr-2{
    margin-bottom: 0;
    margin-top: 5px;
}
.blccr-2 a{
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    color: var(--mainBrownColor);
}
.brc-offer{
    font-size: 18px;
    font-weight: 700;
    color: var(--mainBlackColor);
    line-height: 1;
}
.brc-top svg{
    fill: var(--mainBrownColor);
    width: 18px;
    height: auto;
    line-height: 1;
    margin-top: -4px;
    margin-right: 5px;
}
.brc-top span{
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    display: inline-block;
}
.brc-bottom{
    margin-top: 15px;
}
.brc-bottom form{
    display: block;
}
.brc-bottom form .brcf-field,
.brc-bottom form .brcf-btn{
    border-radius: 0;
    height: 47px;
}
.brc-bottom form .brcf-field{    
    display: inline-block;
    width: 63%;
    border: 1px solid #cecece;
    color: var(--mainBlackColor);
    font-size: 14px;
    font-weight: 600;
}
.brc-bottom form .brcf-btn{
    display: inline-block;
    margin-left: 10px;
    background-color: var(--mainBrownColor);
    color: #ffffff;
    border: 0;
    width: 107px;
    transition: all 0.3s ease-in-out;
}
.brc-bottom form .brcf-btn::placeholder{
    color: var(--mainBlackColor);
    font-size: 14px;
    font-weight: 600;
}
.brc-bottom form .brcf-btn:focus{
    border: 1px solid #cecece;
    outline: 1px solid #cecece;
}
.brc-bottom form .brcf-btn:hover{
    background-color: var(--mainBlackColor);
}

/* === Testimonials Section === */
.testimonial-head svg {
    width: 20px;
    height: 20px;
    fill: #f1c40f;
}

.testimonial {
    background-color: #7b5c4a;
    padding: 40px 32px;
    border-radius: 10px;
}

.testimonial p {
    font-family: var(--subFontFamily);
    font-size: 22px;
    line-height: 29px;
    font-style: italic;
}

.testimonial svg {
    width: 20px;
    height: 20px;
    fill: #ffffff;
}

/* ===FOOTER Section=== */
.bg-footer {
    background-color: var(--mainFooterColor);
}

.bg-footer .w-20 h5 {
    color: #ffffff;
    font-weight: 600;
    line-height: 30px;
}

.bg-footer .w-20 li>a {
    color: #ffffff;
    opacity: 0.5;
    font-size: 15px;
    font-weight: 400;
    line-height: 34px;
}

.footer-border-top {
    border-top: 2px solid #3e3b39;
}

.footer-border-top .footer-copy {
    font-size: 13px;
    font-weight: 400;
    line-height: 34px;
    color: #ffffff;
    opacity: 0.5;
}
/* ===FOOTER CSS END=== */